<nav class='navbar navbar-expand navbar-light bg-light'>
  <div class="text-center">
    <img src="./assets/pokemon_header.png" class="img-responsive center-block"
      style="max-height:50px;" />
  </div>
  <ul class='navbar-nav'>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/dashboard']">Home</a>
    </li>
    <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/pokemon-list']">Pokemon List</a>
    </li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>